html {
  background-color: grey;
}

body {
  color: black;
  font-size: 3ch;
  text-align: center;
}

h2 {
  color: darkred;
}

.kofi {
  scale: 0.6;
}

ul {
  position: relative;
  right: 1ch;
  list-style: none;
}

@media screen and (max-width: 480px) {
  body {
    color: black;
    font-size: 3ch;
    text-align: center;
  }
  
  h2 {
    color: darkred;
  }

  .kofi {
    position: relative;
    right: 3ch;
    scale: 0.5;
  }
}